<div id="user_info-box">
	<div id="main_info">
	  <img src="/media/profile_pics/default.jpg" alt="A black, brown, and white dog" class="avatar_pic" id="display_picture">
	  <h1 id="info-username"></h1>
	</div>
	<!--<button type="button" id="logout">LOGOUT</button>-->
	<!--<button type="button" id="refresh-stats">Refresh Stats</button>-->
	<div id="user-content">
	  <div id="match-history">
		<h2 id="match-history-title">MATCH HISTORY</h2>
		<ul id="history-list">
		  <!-- Match history will be populated here -->
		</ul>
	  </div>
	  <div id="user-stats">
		<h2 id="stats-title">STATS</h2>
		<div>
		  <ul id="stats-left">
			<li id="stat-wins">Wins: <span id="wins-value">0</span></li>
			<li id="stat-losses">Losses: <span id="losses-value">0</span></li>
			<li id="stat-win-rate">Win Rate: <span id="win-rate-value">0%</span></li>
			<li id="stat-goals-avg">Score Avg: <span id="goals-avg-value">0%</span></li>
		  </ul>
		  <ul id="stats-right">
			<li id="stat-goals-scored">Goals Scored: <span id="goals-scored-value">0</span></li>
			<li id="stat-goals-conceded">Goals Conceded: <span id="goals-conceded-value">0</span></li>
			<li id="stat-total-games">Total Games Played: <span id="total-games-value">0</span></li>
			<li id="stat-total-hours">Total Hours Played: <span id="total-hours-value">0</span></li>
		  </ul>
		</div>
	  </div>
	  <div class="graphs-div">
		<div class="graphs-div">
		  <canvas id="playerGoalsChart"></canvas>
		</div>
		<div class="graphs-div">
		  <canvas id="playerGamesChart"></canvas>
		</div>
	  </div>
	</div>
  </div>  