<div class="settings-box">
  <section class="profile">
    <div class="profile-nav">
      <div id="main_info">
        <img id="user-avatar" src="https://tinyurl.com/dkxknyfv" alt="A black, brown, and white dog" class="avatar_pic">
        <h1 id="info-username"></h1>
      </div>
      <button id="user-logout">Logout</button>
      <div class="profile-modify">
        <input type="text" id="new-username" placeholder="Enter new username" />
        <input type="text" id="new-email" placeholder="Enter new email" />
        <input type="password" id="new-password" placeholder="Enter new password" />
        <button id="update-profile">Update Profile</button>
      </div>
    </div>
    <form id="uploadForm" enctype="multipart/form-data">
      <input type="file" id="input-avatar" name="image" accept="image/*" />
      <button type="button" id="upload-avatar">Upload a photo</button>
    </form>
    <div class="language-switch">
      <label for="language-select">Choose your language:</label>
      <select id="language-select">
        <option value="en">English</option>
        <option value="fr">Français</option>
        <option value="es">Italian</option>
      </select>
    </div>
</div>