<head>
	<script type="module" src='static/scripts/rita.js'></script>
</head>

<div id="profile-box_signup" class="profile-box_sign">
	<h1>SIGN UP</h1>
	<form>
		<div class="input-div">
			<input type="text" id="username" required="">
			<label>USER NAME</label>
		</div>
		<div class="input-div">
			<input type="text" id="email" required="">
			<label>EMAIL</label>
		</div>
		<div class="input-div">
			<input type="password" id="password" required="">
			<label>PASSWORD</label>
		</div>
		<button type="button" id="b-signup-ok">OK</button>
		<div class="switch-pannel" id="signin-switch">
			<label>Already have an account?&nbsp<a href="/signin/" id="b-to_signin">signin</a></label>
		</div>
	</form>
</div>
