<div id="profile-box_signin" class="profile-box_sign">
	<h1 id="signin-title">SIGN IN</h1>
	<form>
	  <div class="input-div">
		<input type="text" id="username1" required="">
		<label id="signin-username">USERNAME</label>
	  </div>
	  <div class="input-div">
		<input type="password" id="password1" required="">
		<label id="signin-password">PASSWORD</label>
	  </div>
	  <button type="button" id="b-signin-ok">OK</button>
		<label id="signin-switch">Don't have an account?&nbsp<a href="/signup/" id="b-to_signup">Sign up</a></label>
	</form>
  </div>
  <form id="login-otp-form" style="display: block;">
	<input type="text" id="login-otp-input" name="otp" placeholder="Enter OTP">
	<button type="submit">Verify OTP</button>
	</form>
  
