<div id="profile-box_signin" class="profile-box_sign">
	<h1 id="signin-title">SIGN IN</h1>
	<form>
	  <div class="input-div">
		<input type="text" id="username1" required="">
		<label id="signin-username">USER NAME</label>
	  </div>
	  <div class="input-div">
		<input type="password" id="password1" required="">
		<label id="signin-password">PASSWORD</label>
	  </div>
	  <button type="button" id="b-signin-ok">OK</button>
	  <div class="switch-pannel">
		<label id="signin-switch">Don't have an account?&nbsp<a href="/signup/" id="b-to_signup">signup</a></label>
	  </div>
	</form>
  </div>
  