<div id="profile-box_signin">
    <h1>SIGN IN</h1>
    <img src="https://tinyurl.com/dkxknyfv" alt="A black, brown, and white dog" class="avatar_pic">
    <form>
        <div class="input-div">
            <input type="text" id="username1" required="">
            <label>USER NAME</label>
        </div>
        <div class="input-div">
            <input type="password" id="password1" required="">
            <label>PASSWORD</label>
        </div>
        <button type="button" id="b-signin-ok">GO</button>
        <div class="switch-pannel" id="signup-switch">
            <label>Don't have an account? <a href="/signup/" id="b-to_signup">signup</a></label>
        </div>
    </form>
</div>