<head>
  <script type="module" src='static/scripts/rita.js'></script>
</head>

<div id="profile-box_signup" class="profile-box_sign">
  <h1 id="signup-title">SIGN UP</h1>
  <form>
    <div class="input-div">
      <input type="text" id="username" required="">
      <label id="signup-username">USER NAME</label>
    </div>
    <div class="input-div">
      <input type="text" id="email" required="">
      <label id="signup-email">EMAIL</label>
    </div>
    <div class="input-div">
      <input type="password" id="password" required="">
      <label id="signup-password">PASSWORD</label>
    </div>
    <button type="button" id="b-signup-ok">OK</button>
    <div class="switch-pannel">
      <label id="signup-switch">Already have an account?&nbsp<a href="/signin/" id="b-to_signin">signin</a></label>
    </div>
  </form>
</div>
