<div id="ulists-div">
	<div id="ulist-users" class="users_list-box">
		<h1 id="ulist-title">USERS</h1>
		<ol id="users_list-container">
			<!-- Users list will be populated here -->
		</ol>
	</div>
	<span style="width: 10px"></span>
	<div id="ulist-friends" class="users_list-box">
		<h1 id="flist-title">FRIENDS</h1>
		<ol id="friends_list-container">
			<!-- Friends list will be populated here -->
		</ol>
		<h3 id="requests-title">FRIEND REQUESTS</h3>
		<ol id="friend-requests">
			<!-- Requests list will be populated here -->
		</ol>
	</div>
</div>
