.DS_Store
user_service/user_auth_system/.env.django
venv/
user_service/user_auth_system/__pycache__/
user_service/user_auth_system/migrations/
user_service/user_auth_system/__pycache__/
user_service/media/
databases/