<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta name="csrf-token" content="{{ csrf_token }}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>(Ping) Pong</title>
		<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script type="module" src="{% static 'scripts/main.js' %}"></script>
		<script type="module" src="{% static 'scripts/utils.js' %}"></script>
		<script type="module" src="{% static 'scripts/animations.js' %}"></script>
		<script type="module" src="{% static 'scripts/brackets.js' %}"></script>
		<script type="module" src="{% static 'scripts/stars.js' %}"></script>
		<script type="module" src="{% static 'scripts/pong_pvp.js' %}"></script>
		<script type="module" src="{% static 'scripts/pong_tourney.js' %}"></script>
		<script type="module" src="{% static 'scripts/users.js' %}"></script>
		<script type="module" src="{% static 'online/pong_online.js' %}"></script>
		<script type="module" src="{% static 'bot/pong_bot.js' %}"></script>
	</head>
	<body>
		<div id="tabs-icon">
			<i class="bi bi-list"></i>
			<h6>TABS</h6>
			<div id="tabs-list">
				<!--<button type="button" id="tl-chat">CHAT<i class="bi bi-chat-left-text"></i></button>-->
				<button type="button" id="users-full-list-button">USERS<i class="bi bi-people"></i></button>
				<!--<button type="button" id="tl-profile">PROFILE<i class="bi bi-person"></i></button>-->
				<!--<button type="button">FRIENDS<i class="bi bi-people"></i></button>-->
				<button type="button">SETTINGS<i class="bi bi-gear"></i></button>
			</div>
		</div>
		<div id="chat-box">
			<section id="chat-container">
				<!-- Chat content will be dynamically inserted here -->
			</section>
		</div>
		<div id="profile_tab">
			<h6 id="user-name">guest</h6>
			<img src="https://tinyurl.com/dkxknyfv" alt="A black, brown, and white dog" class="avatar_pic">
		</div>
		<!--#region CODE ALESSANDRO USER INFO -->

		<div id="user-info-box">
			<h1 id="info-username"></h1>
			<button type="button" id="logout">LOGOUT</button>
			<button type="button" id="refresh-stats">Refresh Stats</button>
			<div id="user-content">
				<div id="user-stats" class="user-info-section">
					<h2>Stats</h2>
					<ul>
						<li id="stat-wins">Wins: 0</li>
						<li id="stat-losses">Losses: 0</li>
						<li id="stat-win-rate">Win Rate: 0%</li>
						<li id="stat-total-games">Total Games Played: 0</li>
						<li id="stat-total-hours">Total Hours Played: 0</li>
						<li id="stat-goals-scored">Goals Scored: 0</li>
						<li id="stat-goals-conceded">Goals Conceded: 0</li>
					</ul>
					<canvas id="playerStatsChart"></canvas>
				</div>
				<div id="match-history" class="user-info-section">
					<h2>Match History</h2>
					<ul id="history-list">
						<!-- Match history will be populated here -->
					</ul>
				</div>
			</div>
		</div>
	
		<!--#endregion-->
		<canvas id="game_canvas" width="1000" height="800"></canvas>
		<div id="main-menu">
			<h1>PONG</h1>
			<button type="button" id="pvp-mode">PvP</button>
			<button type="button" id="cpu-mode">CPU</button>
			<button type="button" id="tourney-mode">TOURNEY</button>
			<button type="button" id="online-mode">ONLINE</button>
		</div>
		<div id="users-list-box">
			<h1>USERS LIST</h1>
			<form>
				<div id="users-list-container">
					<ul id="users-List">
					  <!-- User list will be populated here -->
					</ul>
				</div>
			</form>
		</div>
		<div id="online-box">
			<h1>JOIN GAME</h1>
			<form id="online_form">
				{% csrf_token %}
				<div class="input-div">
					<input id="i-room_name" type="text" name="" required="">
					<label>ROOM NAME</label>
					<h6 id="t-empty_room">leave empty for random room</h6>
				</div>
				<button type="button" id="b-online-go">GO</button>
			</form>
		</div>
		<div id="profile-box_signup">
			<h1>SIGN UP</h1>
			<img src="https://tinyurl.com/dkxknyfv" alt="A black, brown, and white dog" class="avatar_pic">
			<form id="test-form">
				<div class="input-div">
					<input type="text" id="username" required="">
					<label>USER NAME</label>
				</div>
				<div class="input-div">
					<input type="text" id="email" required="">
					<label>EMAIL</label>
				</div>
				<div class="input-div">
					<input type="password" id="password" required="">
					<label>PASSWORD</label>
				</div>
				<div class="input-div">
					<input type="password" id="" required="">
					<label>CONFIRM PASSWORD</label>
				</div>
				<button type="button" id="b-signup-ok">OK</button>
				<div class="switch-pannel">
					<label>Already have an account? <a href="#" id="b-to_signin">signin</a></label>
				</div>
			</form>
		</div>
		<div id="profile-box_signin">
			<h1>SIGN IN</h1>
			<img src="https://tinyurl.com/dkxknyfv" alt="A black, brown, and white dog" class="avatar_pic">
			<form>
				<div class="input-div">
					<input type="text" id="username1" required="">
					<label>USER NAME</label>
				</div>
				<div class="input-div">
					<input type="password" id="password1" required="">
					<label>PASSWORD</label>
				</div>
				<button type="button" id="go1">GO</button>
				<div class="switch-pannel">
					<label>Don't have an account? <a href="#" id="b-to_signup">signup</a></label>
				</div>
			</form>
		</div>
		<div id="tourney_settings-box">
			<form>
				<h1>SETTINGS</h1>
				<h2 id="t-players">PLAYERS</h2>
				<input id="s-players" type="range" min="4" max="8" value="4" step="4"/>
				<h2 id="t-points">POINTS</h2>
				<input id="s-points" type="range" min="1" max="11" value="1" step="1"/>
				<button type="button" id="b-tourney_settings">OK</button>
			</form>
		</div>
		<div id="brackets-container"></div>
		<!-- <i class="bi bi-trophy"></i> -->
		<div id="nickname_setup-box">
			<h1>PLAYER NAMES</h1>
		</div>
		<script type="module" src="{% static 'scripts/main.js' %}"></script>
	</body>
</html>
