<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="chat__container">
    <center><h1>Chat with {{ other_user }}</h1></center>
    <div class="chat__item__container" id="id_chat_item_container">
      {% for message in messages %}
      <div class="chat__message {% if message.username == username %}chat__message--self{% else %}chat__message--other{% endif %}">
        <img src="https://via.placeholder.com/40" alt="User Photo">
        <div class="chat__message__content">
          <div class="chat__message__username">{{ message.username }}</div>
          <div class="chat__message__text">{{ message.message }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="chat__input__container">
      <input type="text" id="id_message_send_input" placeholder="Type a message..." />
      <button type="submit" id="id_message_send_button">Send Message</button>
    </div>
  </div>
  <script>
    const roomName = "{{ room_name }}";
    const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomName + "/");

    chatSocket.onopen = function (e) {
      console.log("The connection was set up successfully!");
    };

    chatSocket.onclose = function (e) {
      console.log("Something unexpected happened!");
    };

    document.querySelector("#id_message_send_input").focus();
    document.querySelector("#id_message_send_input").onkeyup = function (e) {
      if (e.keyCode == 13) {
        document.querySelector("#id_message_send_button").click();
      }
    };

    document.querySelector("#id_message_send_button").onclick = function (e) {
      var messageInput = document.querySelector("#id_message_send_input").value;
      chatSocket.send(JSON.stringify({ message: messageInput, username: "{{ username }}" }));
    };

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      const currentUser = "{{ username }}";
      var div = document.createElement("div");
      div.classList.add("chat__message");
      if (data.username === currentUser) {
        div.classList.add("chat__message--self");
      } else {
        div.classList.add("chat__message--other");
      }
      div.innerHTML = `
        <img src="https://via.placeholder.com/40" alt="User Photo">
        <div class="chat__message__content">
          <div class="chat__message__username">${data.username}</div>
          <div class="chat__message__text">${data.message}</div>
        </div>
      `;
      document.querySelector("#id_message_send_input").value = "";
      document.querySelector("#id_chat_item_container").appendChild(div);
      document.querySelector("#id_chat_item_container").scrollTop = document.querySelector("#id_chat_item_container").scrollHeight;
    };
  </script>


</body>
</html>
