body {
	background: radial-gradient(lightgrey, black, grey);
}
#nickname_setup_box {
	background-color: rgb(0, 0, 0, 0.85);
	border: 4px solid rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	box-sizing: border-box;
	padding: 20px;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
}
#nickname_setup_box h1 {
	width: 100%;
	font-family: "Arial";
	margin: 10px 0 30px 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}
#nickname_setup_box form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#nickname_setup_box .user-box {
	position: relative;
	margin: 0 0 20px 0;
	box-sizing: border-box;
	font-family: "Arial";
	width: 50%;
	height: 50px;
}
#nickname_setup_box .user-box:nth-last-child(-n+3) {
	margin-bottom: 0;
}
#nickname_setup_box .user-box input {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 45%;
	text-align: center;
	padding: 5px 0;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	margin: 10px 0 20px 0;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
#nickname_setup_box .user-box label {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 0;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.8);
	pointer-events: none;
	transition: .2s;
}
#nickname_setup_box button {
	color: rgba(255, 255, 255, 0.8);
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 50px;
	font-size: 40px;
	height: 60px;
	padding: 5px calc(50% - 40px);
	line-height: 100%;
	margin: 30px 0 10px 0;
	transition: .1s;
}
#nickname_setup_box button:hover {
	color: white;
	box-shadow: white 0 0 10px;
}
#nickname_setup_box .user-box input:focus ~ label,
#nickname_setup_box .user-box input:valid ~ label {
	top: -15px;
	text-shadow: white 0 0 8px;
	font-size: 12px;
}
.rectangle-div {
	position: absolute;
	font-family: "Arial";
	font-size: 30px;
	width: 200px;
	height: 8%;
	color: rgb(255, 255, 255, .85);
	background-color: rgb(0, 0, 0, 0.85);
	border: 2px solid white;
	border-radius: 10px;
	text-align: center;
	line-height: 200%;
}
#brackets {
	position: absolute;
	display: none;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 950px;
	height: 750px;
}
#brackets i {
	position: absolute;
	font-size: 100px;
	font-family: "Arial";
	color: rgb(255, 255, 255, .85);
	top: 50%;
	right: 0%;
	transform: translate(-20%, -50%);
	animation: trophy-pulse 3s infinite;
}
.avatar_pic {
	overflow: hidden;
	border-radius: 50%;
}
.choice-box {
	background-color: rgb(0, 0, 0, 0.85);
	border: 4px solid rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	transform: translate(-50%, -50%);
	transition: 1s;
}
#tournoi {
	opacity: 0;
	display: none;
	text-align: center;
	padding: 20px;
	width: 350px;
	box-sizing: border-box;
}
#tournoi.shown {
	animation: fade-in 1.5s forwards;
}
/* #tournoi.hidden { */
/* 	animation: fade-down-tournoi 1s forwards; */
/* } */
/* @keyframes fade-down-tournoi { */
/* 	to { */
/* 		opacity: 0; */
/* 		width: 500px; */
/* 	} */
/* } */
#tournoi h1 {
	font-family: "Arial";
	font-size: 40px;
	margin: 10px 0 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}
#tournoi h2 {
	font-family: "Arial";
	font-size: 30px;
	padding: 0;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin: 30px 0 10px 0;
}
.choice-slider {
	appearance: none;
	outline: none;
	height: 8px;
	width: 50%;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	opacity: 0.8;
}
.choice-slider::-moz-range-thumb {
	appearance: none;
	background: white;
	color: white;
	border: none;
	border-radius: 0px;
	width: 13px;
	height: 13px;
	box-shadow: white 0 0 10px;
	transform: rotate(45deg);
}
.choice-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: white;
	color: white;
	border: none;
	border-radius: 0px;
	width: 13px;
	height: 13px;
	box-shadow: white 0 0 10px;
	transform: rotate(45deg);
}
#tournoi button {
	color: rgba(255, 255, 255, 0.8);
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 50px;
	font-size: 40px;
	padding: 5px calc(50% - 40px);
	margin: 30px 0 10px 0;
	transition: .1s;
}
#tournoi button:hover {
	color: white;
	box-shadow: white 0 0 10px;
}
#profile-box_main {
	background-color: rgb(0, 0, 0, 0.85);
	border: 4px solid rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 500px;
	padding: 30px;
	padding-bottom: 10px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}
#profile-box_main h1 {
	font-family: "Arial";
	margin: 0 0 20px;
	padding: 0;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}
#profile-box_main .user-box {
	font-family: "Arial";
	position: relative;
}
#profile-box_main .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
#profile-box_main .user-box label {
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	pointer-events: none;
	transition: .5s;
}
#profile-box_main button {
	position: relative;
	left: 50%;
	transform: translate(-50%, -40%);
	color: rgba(255, 255, 255, 0.8);
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 50px;
	font-size: 40px;
	padding: 5px 120px;
	margin-top: 20px;
	transition: .1s;
}
#profile-box_main button:hover {
	color: white;
	box-shadow: white 0 0 10px;
}
#profile-box_main .avatar_pic {
	position: relative;
	height: 100px;
	width: 100px;
	left: 50%;
	transform: translateX(-50%);
}
#profile-box_main .user-box input:focus ~ label,
#profile-box_main .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	text-shadow: white 0 0 8px;
	font-size: 12px;
}
#hamburger-icon {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	border: 2px solid rgba(255, 255, 255, .8);
	border-radius: 10px;
	top: 20px;
	left: 20px;
	height: 60px;
	width: 60px;
	padding: 0;
	z-index: 1;
	cursor: pointer;
	transition: all ease-out .1s;
}
#hamburger-icon i {
	position: relative;
	margin: 0 0 0 2.5px;
	height: 50px;
	font-size: 50px;
	line-height: 100%;
	color: white;
	background-color: transparent;
}
#hamburger-icon h6 {
	pointer-events: none;
	position: relative;
	font-family: "Arial";
	font-weight: 300;
	font-size: 25px;
	left: -50px;
	color: white;
	opacity: 0;
	margin: 10px 20px 10px 10px;
	transform: scale(.5, 1);
	transition: all ease-out .2s;
}
#hamburger-icon.active {
	border-radius: 15px;
	width: 160px;
}
#hamburger-icon:hover:not(.active) {
	border-radius: 15px;
}
#hamburger-icon:hover:not(.active) i {
	text-shadow: white 0 0 5px;
}
#hamburger-icon.active h6 {
	left: 0px;
	transform: scale(1, 1);
	pointer-events: auto;
	opacity: 1;
}
#vertical-tab {
	pointer-events: none;
	background: rgba(0, 0, 0, .8);
	border: 2px solid rgba(255, 255, 255, .8);
	opacity: 0;
	position: absolute;
	border-radius: 10px;
	top: 85px;
	left: -150px;
	width: 200px;
	padding: 0 0 5px 0;
	z-index: 1;
	transition: all ease-out .3s;
}
#vertical-tab.active {
	pointer-events: auto;
	opacity: 1;
	top: 85px;
	left: 40px;
}
#vertical-tab button {
	position: relative;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .8);
	background: transparent;
	color: white;
	opacity: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	width: 90%;
	padding: 5px 0px;
	cursor: pointer;
	text-align: left;
}
#vertical-tab:not(.active) button {
	transition: all .3s;
}
#vertical-tab.active button {
	opacity: 1;
}
#vertical-tab i {
	position: absolute;
	font-size: 25px;
	right: 5px;
	top: 10px;
}
#vertical-tab button:last-child {
	border-bottom: none;
}
#vertical-tab button:hover {
	text-shadow: white 0 0 5px;
}
#profile-box {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, .8);
	border: 2px solid rgba(255, 255, 255, .8);
	border-radius: 10px;
	top: 20px;
	right: 20px;
	height: 60px;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1;
}
#profile-box h6 {
	font-size: 30px;
	font-family: "Arial";
	color: white;
	height: 30px;
	margin: 0 20px 0 20px;
	text-align: center;
	line-height: 100%;
	font-weight: normal;
}
#profile-box .avatar_pic {
	margin: 0 10px 0 0;
	height: 80%;
	width: 44.8px;
}
#game {
	background-color: black;
	position: fixed;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: white 0px 0px 15px 5px;
	width: 1000px;
	height: 800px;
}
#main-buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.hidden {
	animation: fade-down-main 1s;
	animation-fill-mode: forwards;
}
@keyframes fade-down-main {
	to {
		opacity: 0;
		top: 55%;
	}
}
#main-buttons h1 {
	font-family: "Arial";
	color: rgba(255, 255, 255, 0.5);
	font-size: 100px;
	margin: 0;
	text-align: center;
	font-weight: 300;
	height: 100px;
	line-height: 100%;
	animation: text-shadow 3s infinite;
}
#main-buttons button {
	color: rgba(255, 255, 255, 0.5);
	background-color: rgb(0, 0, 0, 0.85);
	border: 4px solid rgba(255, 255, 255, 0.5);
	border-radius: 50px;
	padding: 15px 0px;
	margin: 5px;
	width: 100%;
	font-size: 50px;
	font-family: "Arial";
	cursor: pointer;
}
#main-buttons button:hover {
	color: lightgrey;
	border: 4px solid lightgrey;
	animation: hover-shadows 1.5s ease-out infinite;
}
#login-box {
	opacity: 0;
	background-color: rgb(0, 0, 0, 0.85);
	border: 4px solid rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	padding: 20px;
	transform: translate(0%, -50%);
	box-sizing: border-box;
}
#login-box.shown {
	animation: fade-in 1.5s;
	animation-fill-mode: forwards;
}
@keyframes fade-in {
	10% {
		transform: translate(0%, -50%);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
#login-box h1 {
	font-family: "Arial";
	margin: 10px 0 20px 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}
#login-box form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 80%;
	align-items: center;
}
#login-box .user-box {
	width: 100%;
	font-family: "Arial";
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#login-box .user-box input {
	width: 85%;
	padding: 10px 0;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
#login-box .user-box label {
	position: absolute;
	top: 0;
	left: 7.5%;
	text-align: left;
	padding: 10px 0;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	pointer-events: none;
	transition: .5s;
}
#login-box button {
	position: relative;
	align-items: center;
	color: rgba(255, 255, 255, 0.8);
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 50px;
	font-size: 40px;
	padding: 5px calc(50% - 40px);
	margin: 10px 0 10px 0;
	cursor: pointer;
	transition: .1s;
}
#login-box button:hover {
	color: white;
	box-shadow: white 0 0 10px;
}
#login-box .user-box input:focus ~ label,
#login-box .user-box input:valid ~ label {
	top: -20px;
	left: 7.5%;
	text-shadow: white 0 0 8px;
	font-size: 12px;
}
@keyframes trophy-pulse {
	50% {
		text-shadow: white 0 0 10px;
	}
}
@keyframes text-shadow {
	0% {
		color: rgba(255, 255, 255, 0.5);
	}
	50% {
		color: lightgrey;
		text-shadow: lightgrey 0 0 10px;
	}
}
@keyframes hover-shadows {
	0% {
	}
	50% {
		text-shadow: lightgrey 0 0 10px;
		box-shadow: lightgrey 0 0 10px;
	}
}
#chat-box {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	background: rgba(0, 0, 0, .8);
	border: 2px solid rgba(255, 255, 255, .8);
	border-radius: 10px;
	bottom: 20px;
	left: 20px;
	height: 175px;
	width: 400px;
	z-index: 1;
	cursor: pointer;
	transition: all ease-out .1s;
}
#chat-box.active {
	visibility: visible;
	opacity: 1;
}
#chat-box h6 {
	position: absolute;
	font-size: 20px;
	font-family: "Arial";
	color: white;
	opacity: 0;
	margin: 10px 10px;
	font-weight: normal;
	transition: all ease-out .1s;
}
#chat-box.active h6 {
	opacity: 1;
}
