<canvas id="game_canvas" width="1000" height="800"></canvas>
<div id="tourney_settings-box">
  <form>
    <h1 id="settings-title">SETUP</h1>
    <h2 id="t-players">PLAYERS</h2>
    <input id="s-players" type="range" min="4" max="8" value="4" step="4"/>
    <h2 id="t-points">POINTS</h2>
    <input id="s-points" type="range" min="1" max="11" value="1" step="1"/>
    <button type="button" id="b-tourney_settings">OK</button>
  </form>
</div>
<div id="brackets-container"></div>
<!-- <i class="bi bi-trophy"></i> -->
<div id="nickname_setup-box">
  <h1 id="player-names-title">PLAYER NAMES</h1>
</div>
